.Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
}

.logo>img{
    width: 3rem;
    height: 3rem;
}

.logo>span{
    color: #0daceb;
    cursor: pointer;
}

.logo>span>span{
    color: #0eeb33;
    cursor: pointer;
}

.menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menuItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    height: 4.5rem;
    position: relative;
    transition: all 280ms ease;
    font-size: 14px;
    border: 0.7rem;    
}

.menuItem:hover{
    cursor: pointer;
}

.sizer{
    size: 100%;
}

.active{
    background: var(--activeItem);
    margin-left: 0;
}

.active::before{
    content: '';
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
}