.rSidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.rlogo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
}

.rlogo>img{
    width: 3rem;
    height: 3rem;
}

.rlogo>span{
    cursor: pointer;
}

.rlogo>span>span{
    cursor: pointer;
}